/* sticker popup */
.stickerParent {
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

.stickerParent > .sticker {
	display: none;
}

.stickerParent:hover > .sticker {
  display: block;
  z-index: 20;
  position: absolute;
  left: 0px;
  margin-top: 3px;
	height: 200px;
	width: 200px;
	border: 1px solid blue;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: white;
}

.nav-tabs {
  font-size: 10px;
}